				<form name="addFishForm" ng-show="cf.showAddFish" ng-submit="addFishForm.$valid && cf.addFish()" novalidate>
					<fieldset>
					<legend>Add a fish</legend>

					<label for="name">Name:</label>
					<input id="name" ng-model="cf.currentFish.name" type="text" required />

					<br/>
					<label for="price">Sell Price:</label>
					<input id="price" name="price" ng-model="cf.currentFish.sellPrice" type="number" required />
					<br/>

					<label>Location:</label>
					<select ng-model="cf.currentFish.location" required>
						<option value="River" >River</option>
						<option value="Ocean">Ocean</option>
						<option value="River Pond">River Pond</option>
						<option value="Holding Pond">Holding Pond</option>
						<option value="Waterfall">Waterfall</option>
					</select>
					<br/>

					<label>Time:</label>
					<div style="display:inline-block;">
						<input type="checkbox" ng-model="cf.currentFish.time['morning']"/>Morning (4AM-8AM)<br/>
						<input type="checkbox" ng-model="cf.currentFish.time['day']" />Day (8AM-5PM)<br/>
						<input type="checkbox" ng-model="cf.currentFish.time['night']" />Night (5PM-4AM)<br/>
					</div><br/>
					<label>Rarity:</label>
					<select ng-model="cf.currentFish.rarity">
						<option value="Common" >Common</option>
						<option value="Uncommon">Uncommon</option>
						<option value="Rare">Rare</option>
					</select>
					<br/>

					<label>Starting Month:</label>
					<select ng-model="cf.currentFish.startMonth">
						<option value="0" >January</option>
						<option value="1">February</option>
						<option value="2">March</option>
						<option value="3" >April</option>
						<option value="4">May</option>
						<option value="5">June</option>
						<option value="6" >July</option>
						<option value="7">August</option>
						<option value="8">September</option>
						<option value="9" >October</option>
						<option value="10">November</option>
						<option value="11">December</option>
					</select>
					<br/>

					
					<label>Ending Month:</label>
					<select ng-model="cf.currentFish.endMonth">
						<option value="0">January</option>
						<option value="1">February</option>
						<option value="2">March</option>
						<option value="3" >April</option>
						<option value="4">May</option>
						<option value="5">June</option>
						<option value="6" >July</option>
						<option value="7">August</option>
						<option value="8">September</option>
						<option value="9" >October</option>
						<option value="10">November</option>
						<option value="11">December</option>	
					</select>
					<br/>


					<input type="submit" value="submit" class="submit" />
					</fieldset>
				</form>
