<table>
	<thead>
		<th>Name</th>
		<th>Sell Price</th>
		<th>Location</th>
		<th>Time</th>
		<th>Starting</th>
		<th>Ending</th>
		<th>Rarity</th>
		<th class="deleteCol"></th>

		</thead>
	<tr ng-repeat="fish in cf.allFish">
		<td>{{fish.name}}</td>
		<td>{{fish.sellPrice | currency}}</td>
		<td>{{fish.location}}</td>
		<td>{{fish.time}}</td>
		<td>{{fish.startMonth}}</td>
		<td>{{fish.endMonth}}</td>
		<td>{{fish.rarity}}</td>
		
		<td class="deleteCol"><div class="deleteButton" ng-click="cf.deleteFish(fish)">[X]</div></td>
	</tr>
</table>